{% extends 'base.html'%}  {%block title %}Home{% endblock%}


{% block body %}


<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>HackyWinterland</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap" rel="stylesheet">
  </head>
  <body>

<div class="snowflakes" aria-hidden="true">
  <div class="snowflake">
    ❅
  </div>
  <div class="snowflake">
    ❅
  </div>
  <div class="snowflake">
    ❆
  </div>
  <div class="snowflake">
    ❄
  </div>
  <div class="snowflake">
    ❅
  </div>
  <div class="snowflake">
    ❆
  </div>
  <div class="snowflake">
    ❄
  </div>
  <div class="snowflake">
    ❅
  </div>
  <div class="snowflake">
    ❆
  </div>
  <div class="snowflake">
    ❄
  </div>
</div>
    <!-- End of snowflake -->
    <div class="title">
      <h1>Safe Winter Travel</h1>
      <h3>Find your perfect holiday destination.</h3>
      <a href="/" class="darkbutton">Start now</a>
    </div>
    
    <script src="script.js"></script>
    
  </body>
</html>

{% endblock body %}
